name: Lint and Test
  
on: [workflow_call, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Detekt with type resolution for core-kmm
        run: ./gradlew :core-kmm:detektAndroidRelease
      - name: Test core-kmm
        run: ./gradlew :core-kmm:test
      - name: Detekt for securewidgets-compose
        run: ./gradlew :securewidgets-compose:detekt
      - name: Lint securewidgets-compose
        run: ./gradlew :securewidgets-compose:lintRelease
      - name: Assemble sample app
        run: ./gradlew :sdk_sample:assembleRelease
