name: Test and Publish

on:
  workflow_run:
    workflows: ["Lint and Test"]
    types: [completed]
    branches: [master]

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Publish packages
        run: ./gradlew :domain:publish :core-kmm:publish :securewidgets-compose:publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}